OMNIVOICE_MODEL=k2-fsa/OmniVoice
OMNIVOICE_API_MODEL=omnivoice
OMNIVOICE_DEVICE=auto
OMNIVOICE_ENABLE_FLASHINFER=true
OMNIVOICE_API_KEY=
OMNIVOICE_VOICES_DIR=voices
OMNIVOICE_MAX_BATCH_ITEMS=16
OMNIVOICE_MAX_BATCH_CHARS=12000
OMNIVOICE_MAX_ITEM_CHARS=1500
OMNIVOICE_DEFAULT_NUM_STEPS=32
OMNIVOICE_PING_SECONDS=10
